// Reset default style
button {
  padding: 0;
  background-color: transparent;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.wrapper {
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.05);
  font-size: 11px;
  line-height: 1;
}

.nav {
  display: flex;
  gap: 0;

  button {
    padding: 8px;

    .icon {
      display: block;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }
  }
}

.sound {
}
